{% extends "base.html" %}
{% load static %}
{% block title %}Add Supplier{% endblock %}
{% block style %}
<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block content %}

{% csrf_token %}
    <div class="mb-3">
        <h3>Add Supplier<h3>
    </div>
    <div id="alertMsg" class="">
    </div>
    <div class="mb-3">
        <label class="form-label">Supplier Name</label>
        <input id="name" type="text" class="form-control" placeholder="Enter Supplier Name">
        <div id="snMsg">
        </div>
    </div>
    {% comment %} <div class="mb-3">
        <label class="form-label">Supplier Phone Number</label>
        <input id="phone" type="number" class="form-control" placeholder="Enter Phone Number">
        <div id="phoneMsg">
        </div>
    </div> {% endcomment %}
    <div class="mb-3">
        <label class="form-label">Supplier Address</label>
        <input id="addr" type="text" class="form-control" placeholder="Enter Address">
        <div id="emMsg">
        </div>
    </div>
    <div class="col-12">
        <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
        <button id="btnSubmit" class="btn btn-dark float-end">Add</button>
    </div>

{% endblock %}

{% block script %}
<script>
    $.phone_validate = function () {
        var phone = $('#phone').val();
        var limit = 12; // default

        var output = false;
        // validate
        if ((phone.startsWith('09') || phone.startsWith('639')) && $.isNumeric(phone)) {
            // change limit if starts with 09
            if (phone.startsWith('09') && $.isNumeric(phone)) {
                limit = 11;
            }
            
            // check limit
            if (limit == phone.length) {
                $('#phoneMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                $('#phone').addClass('is-valid').removeClass('is-invalid');
                output = true;
            }
            else {
                var message = 'It must be ' + limit + ' numbers.';
                $('#phoneMsg').text(message).addClass('invalid-feedback').removeClass('valid-feedback');
                $('#phone').addClass('is-invalid').removeClass('is-valid');
            }
        }
        else {
            $('#phoneMsg').text("Please enter a valid number.").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#phone').addClass('is-invalid').removeClass('is-valid');
        }

        return output;
    }

    $('#phone').on('input', function () {
        // $.phone_validate()
    });

    $('#btnSubmit').click(function () {
        n = $('#name').val();
        //p = $('#phone').val();
        e = $('#addr').val();

        $.validate_check = function (feed, input, data) {
            txt = !data ? 'Required' : '';
            Ac = !data ? 'is-invalid' : 'is-valid';
            Rc = !data ? 'is-valid' : 'is-invalid';
            Af = !data ? 'invalid-feedback' : 'valid-feedback';
            Rf = !data ? 'valid-feedback' : 'invalid-feedback';
    
            $(feed).text(txt).addClass(Af).removeClass(Rf);
            $(input).addClass(Ac).removeClass(Rc);
        };

        // Check if there's an empty fields
        $.validate_check('#snMsg', '#name', n);
        //$.validate_check('#phoneMsg', '#phone', p);
        $.validate_check('#emMsg', '#addr', e);

        // return if found
        if (!n || !e) {           
            return 0;
        }

        $.post("{% url 'Submit Supplier' %}", {
            name: n,
            addr: e
        }, function (e) {
            if (e.code == 200) {
                $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning').fadeIn(0).fadeOut(2000);
            }
            else {
                $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success').fadeIn(0).fadeOut(2000);
            }
        }
        );
    });

    $('#username').on('input', function () {
        var u = $('#username').val()
        if (u.length < 8) {
            $('#userMsg').text("Input username atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#username').addClass('is-invalid').removeClass('is-valid');
        } else {
            $.post("../check_username/", {
                username: u
            }, function (e) {
                if (e.found == true) {
                    $('#userMsg').text("Username is already taken!").addClass('invalid-feedback').removeClass('valid-feedback');
                    $('#username').addClass('is-invalid').removeClass('is-valid');
                } else {
                    $('#userMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                    $('#username').addClass('is-valid').removeClass('is-invalid');
                }
            })
        }
    });

    $('#cpassword').on("input", function () {
        var pw = $('#password').val();
        var cpw = $('#cpassword').val();

        if (pw != cpw) {
            $('#cpassMsg').text("Password not matched!").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#cpassword').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#cpassMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#cpassword').addClass('is-valid').removeClass('is-invalid');
        }
    });

    $('#password').on("input", function () {
        var pw = $('#password').val().length;

        if (pw < 8) {
            $('#passMsg').text("Input password atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');;
            $('#password').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#passMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#password').addClass('is-valid').removeClass('is-invalid');
        }
    });

    $('#btnBack').click(function () {
        window.location.href = "{% url 'Suppliers' %}"
    });
</script>
{% endblock %}