
{% extends "base.html" %}
{% load static %}
{% block title %}Create Order{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">

<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block content %}

    {% csrf_token %}
<div class ="mb-3">
    <h3> Create Order</h3>
</div>
<div id = "alertMsg" class="">
</div>

<div class="mb-3">
    <label class="form-label" for="productInput">Product Name:</label>
    <input list="productList" id="productInput" class="form-control" aria-label="Product Name" placeholder="Select or type a product">
    <datalist id="productList">
        {% for res in products %}
        <option value="{{ res.prod_name }}">
        {% endfor %}
    </datalist>

    <div id="prodMsg">
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Price:</label>
    <input id="price" type="number" class="form-control" placeholder="Enter Price">
    <div id="priMsg">
    </div>
</div>

<div class="mb-3">
    <label class="form-label">Quantity:</label>
    <input id="qty" type="number" class="form-control" placeholder="Enter Quantity">
    <div id="qtyMsg">
    </div>
</div>

<p>Invoice ID: {{ invoice_id }}</p>

<div class="col-12">
    <div class="text-end">
        <button id="btnSubmitorder" class="btn btn-dark me-2">Add</button>
        <button id="btnPlaceorder" class="btn btn-dark">Place Order</button>
    </div>
</div>


<br><br>

<div class ="mb-3">
    <h3>List of Orders</h3>
</div>
<div id = "alertMsg" class="">
</div>
{% if user.acc_type_id != 3%}
    {% endif %}
    <div>
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Invoice ID</th>
                <th>Product ID</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for order in result %}
            <tr class="ord-data">
                <td class="ord-id">{{order_list.ord_id}}</td>
                <td>{{product.prod_name}}</td>
                <td>{{order_list.ord_qty}}</td>
                <td>{{order_list.ord_price|floatformat:"2g"}}</td>
                <td>{{invoice.inv}}</td>
                <td><a href="{% url 'Orders' %}{{order_list.ord_id}}" class="btn btn-dark m-1">View</a>
                    {% if user.acc_type_id != 3 %}
                    <button class="btn btn-dark cus-delete">Delete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Order ID</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Invoice ID</th>
                <th>Product ID</th>
                <th>Action</th>
                
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}


{% block script %}  
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        new DataTable('#example');
    </script>

<script>

$('#btnSubmitorder').click(function() {
     pn = ['Genshin Toy', 'ggg', 'kazuha wafer card'];
     p = $('#price').val();
     q = $('#qty').val();
     i = $('#invoice_id').val();
    
    $.validate_check = function (feed, input, data) {
                txt = !data ? 'Required' : '';
                Ac = !data ? 'is-invalid' : 'is-valid';
                Rc = !data ? 'is-valid' : 'is-invalid';
                Af = !data ? 'invalid-feedback' : 'valid-feedback';
                Rf = !data ? 'valid-feedback' : 'invalid-feedback';
        
                $(feed).text(txt).addClass(Af).removeClass(Rf);
                $(input).addClass(Ac).removeClass(Rc);
    };

    // Check if there are empty fields
    $.validate_check('#prodMsg', '#productList', pn);
    $.validate_check('#priMsg', '#price', p);
    $.validate_check('#qtyMsg', '#qty', q);
    $.validate_check('#invMsg', '#invoice_id', i);
    

    // Return if any field is empty
    if (!p || !q || !i || !pn ) {
        return 0;
    }

    // Populate the datalist options for products
    $('#productList').empty(); // Clear existing options in the datalist

    // Loop through product names and append options to the datalist
    pn.forEach(function(product) {
        $('#productList').append(`<option value="${products}">`);
    });

    // Submit the order via POST request
    $.post("{% url 'Submit Order' %}", {
        price: p,
        qty: q,
        invoice_id: i,
        productList: pn

    }, function (e) {
        if (e.code == 200) {
            $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning');
        } else {
            $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success');
        }
    });
});


    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    document.getElementById('invDateLabel').textContent += date;



    $('#username').on('input', function () {
        var u = $('#username').val()
        if (u.length < 8) {
            $('#userMsg').text("Input username atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#username').addClass('is-invalid').removeClass('is-valid');
        } else {
            $.post("../check_username/", {
                username: u
            }, function (e) {
                if (e.found == true) {
                    $('#userMsg').text("Username is already taken!").addClass('invalid-feedback').removeClass('valid-feedback');
                    $('#username').addClass('is-invalid').removeClass('is-valid');
                } else {
                    $('#userMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                    $('#username').addClass('is-valid').removeClass('is-invalid');
                }
            })
        }
    });

    $('#cpassword').on("input", function () {
        var pw = $('#password').val();
        var cpw = $('#cpassword').val();

        if (pw != cpw) {
            $('#cpassMsg').text("Password not matched!").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#cpassword').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#cpassMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#cpassword').addClass('is-valid').removeClass('is-invalid');
        }
    });

    $('#password').on("input", function () {
        var pw = $('#password').val().length;

        if (pw < 8) {
            $('#passMsg').text("Input password atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');;
            $('#password').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#passMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#password').addClass('is-valid').removeClass('is-invalid');
        }
    });
</script>

{% endblock %}



