{% extends "base.html" %}
{% load static %}
{% block title %}Add Account{% endblock %}
{% block style %}
<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block content %}

    {% csrf_token %}
    <div class="mb-3">
        <h3>Add Product<h3>
    </div>
    <div id="alertMsg" class="">
    </div>
    {% comment %} <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input id="prod" type="text" class="form-control" placeholder="Enter Product Name">
        <div id="pMsg">
        </div>
    </div> {% endcomment %}
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea id="desc" style="resize: none;" class="form-control"  rows="3"></textarea>
        <div id="dMsg">
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input id="price" type="number" class="form-control" placeholder="Enter Price">
        <div id="prMsg">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label class="form-label">Type</label>
            <select id="prod_type" class="form-select" aria-label="Default select example">
                <option selected disabled>Select Type</option>
                {% for res in type %}
                <option value="{{res.prod_type_name}}">{{res.prod_type_name}}</option>
                {% endfor %}
                <option value="other">Other</option>
            </select>
            <div id="ptMsg">
            </div>
        </div>
        <div id="other-type" class="col-6">
            <label class="form-label">Other Type</label>
            <input id="other-type-data" type="text" class="form-control" placeholder="Enter Type Name">
            <div id="prMsg">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <label class="form-label">Brand</label>
            <select id="prod_br" class="form-select" aria-label="Default select example">
                <option selected disabled>Select brand</option>
                {% for res in brand %}
                <option value="{{res.prod_br_name}}">{{res.prod_br_name}}</option>
                {% endfor %}
                <option value="other">Other</option>
            </select>
            <div id="brMsg">
            </div>
        </div>
        <div id="other-brand" class="col-6">
            <label class="form-label">Other Brand</label>
            <input id="other-brand-data" type="text" class="form-control" placeholder="Enter Type Name">
            <div id="prMsg">
            </div>
        </div>
    </div>
    <div class="col-12">
        <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
        <button id="btnSubmit" class="btn btn-dark float-end">Add</button>
    </div>

{% endblock %}

{% block script %}
<script>
    if ($('#prod_type').val() == 'other') {
        $('#other-type').show();
    }
    else {
        $('#other-type').hide();
    }

    if ($('#prod_br').val() == 'other') {
        $('#other-brand').show();
    }
    else {
        $('#other-brand').hide();
    }

    $('#btnSubmit').click(function () {
        d = $('#desc').val();
        pr = $('#price').val();
        pt = ($('#prod_type').val() != 'other')? $('#prod_type').val() : $('#other-type-data').val();
        pb = ($('#prod_br').val() != 'other')? $('#prod_br').val() : $('#other-brand-data').val();

        $.validate_check = function (feed, input, data) {
            txt = !data ? 'Required' : '';
            Ac = !data ? 'is-invalid' : 'is-valid';
            Rc = !data ? 'is-valid' : 'is-invalid';
            Af = !data ? 'invalid-feedback' : 'valid-feedback';
            Rf = !data ? 'valid-feedback' : 'invalid-feedback';
    
            $(feed).text(txt).addClass(Af).removeClass(Rf);
            $(input).addClass(Ac).removeClass(Rc);
        };

        // Check if there's an empty fields
        $.validate_check('#dMsg', '#desc', d);
        $.validate_check('#ptMsg', '#prod_type', pt);
        $.validate_check('#pbMsg', '#prod_br', pb);

        if (!$.isNumeric(pr)) {
            $('#prMsg').text('Field must be a number.').addClass('invalid-feedback').removeClass('valid-feedback');
            $('#price').addClass('is-invalid').removeClass('is-valid');
            return 0;
        }
        else if (pr <= 0) {
            $('#prMsg').text('Field must be non-zero.').addClass('invalid-feedback').removeClass('valid-feedback');
            $('#price').addClass('is-invalid').removeClass('is-valid');
            return 0;
        }
        else {
            $.validate_check('#prMsg', '#price', pr);
        }

        if ($('#prod_type').val() == 'other') {
            $.validate_check('#prMsg', '#other-type-data', pt);
        }
        if ($('#prod_br').val() == 'other') {
            $.validate_check('#brMsg', '#other-brand-data', pb);
        }

        // return if found
        if (!d || !pr || !pt || !pb) {           
            return 0;
        }

        $.post("{% url 'Submit Product' %}", {
            desc: d,
            price: pr,
            prod_type: pt,
            prod_br: pb
        }, function (e) {
            if (e.code == 200) {
                $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning');
            }
            else {
                $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success');
            }
        }
        );
    });

    $('#prod').on('input', function () {
        var p = $('#prod').val()
        $.post("{% url 'Check Product Name' %}", {
            prod: p
        }, function (e) {
            if (e.found == true) {
                $('#pMsg').text("Product is already added!").addClass('invalid-feedback').removeClass('valid-feedback');
                $('#prod').addClass('is-invalid').removeClass('is-valid');
            } else {
                $('#pMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                $('#prod').addClass('is-valid').removeClass('is-invalid');
            }
        })
    });

    $('#prod_type').change(function() {
        if ($('#prod_type').val() == 'other') {
            $('#other-type').show();
        }
        else {
            $('#other-type').hide();
        }
    });
    $('#prod_br').change(function() {
        if ($('#prod_br').val() == 'other') {
            $('#other-brand').show();
        }
        else {
            $('#other-brand').hide();
        }
    });

    $('#btnBack').click(function () {
        window.location.href = "{% url 'Products' %}"
    });
    
</script>
{% endblock %}