{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <h1>{{test}}</h1>
    <div class="row d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="w-50 border border-4">
            <div class="login-form bg-light mt-4 p-4">
                <form method="POST" class="row g-3">
                    {% csrf_token %}
                    <h4>Change Password</h4>
                    {% if message %}
                    <div class="alert alert-{{status}}" role="alert">
                        {{message}}
                    </div>
                    {% endif %}
                    {% if not is_token_expired %}
                    <div class="col-12">
                        <label class="form-label">New Password</label>
                        <input required {% if status == 'success' %}disabled{% endif %} type="password" name="pass" class="form-control" placeholder="">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Confirm Password</label>
                        <input required {% if status == 'success' %}disabled{% endif %} type="password" name="cpass" class="form-control" placeholder="">
                    </div>
                    {% if not success %}
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Change</button>
                    </div>
                    {% endif %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}