{% extends "base.html" %}
{% load static %}
{% block title %}View Account{% endblock %}
{% block style %}
{% endblock %}
{% block content %}

{% csrf_token %}
<div class="mb-3">
    <h3>Change Account Password</h3>
</div>
<div id="alertMsg" class="">
</div>

<div class="mb-1">
    <label class="form-label">Old Password:</label>
    <input value="" id="oldpassword" type="password" class="form-control mb-4" placeholder="Enter Old Password">
    <div id="oldpassMsg">
    </div>
</div>
<div class="mb-1">
    <label class="form-label">New Password:</label> <!-- PASSWORD -->
    <input value="" id="password" type="password" class="form-control mb-4" placeholder="Enter New Password">
    <div id="pwMsg">
    </div>
</div>
<div class="mb-1">
    <label class="form-label">Confirm Password:</label>
    <input value="" id="cpassword" type="password" class="form-control mb-4" placeholder="Confirm New Password">
    <div id="cpassMsg">
    </div>
</div>

<div class="pb-5 col-12">
    <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
    <button id="btnSubmit" class="btn btn-dark float-end">Update</button>
</div>

{% endblock %}

{% block script %}
    <script>
        $('#btnSubmit').click(function () {
            console.log('test')

            op = $('#oldpassword').val();
            p = $('#password').val();
            cp = $('#cpassword').val();

            $.validate_check = function (feed, input, data) {
                txt = !data ? 'Required' : '';
                Ac = !data ? 'is-invalid' : 'is-valid';
                Rc = !data ? 'is-valid' : 'is-invalid';
                Af = !data ? 'invalid-feedback' : 'valid-feedback';
                Rf = !data ? 'valid-feedback' : 'invalid-feedback';
        
                $(feed).text(txt).addClass(Af).removeClass(Rf);
                $(input).addClass(Ac).removeClass(Rc);
            };

            // Check if there's an empty fields
            $.validate_check('#oldpassMsg', '#oldpassword', op);
            $.validate_check('#pwMsg', '#password', p);
            $.validate_check('#cpassMsg', '#cpassword', cp);

            // return if found
            if (!op || p != cp) {
                return 0;
            }

            $.post("{% url 'Change Password Dropdown' %}", {
                password: p,
                cpassword: cp,
                opassword: op
            }, function (e) {
                if (e.code == 200) {
                    $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning').fadeIn(0).fadeOut(3000);
                }
                else {
                    $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success').fadeIn(0).fadeOut(3000);
                }
            }
            );
        });

        $('#btnBack').click(function () {
            window.location.href = "{% url 'Home' %}"
        });

        $('#cpassword').on("input", function () {
            var pw = $('#password').val();
            var cpw = $('#cpassword').val();
    
            if (pw != cpw) {
                $('#cpassMsg').text("Password not matched!").addClass('invalid-feedback').removeClass('valid-feedback');
                $('#cpassword').addClass('is-invalid').removeClass('is-valid');
            }
            else {
                $('#cpassMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
                $('#cpassword').addClass('is-valid').removeClass('is-invalid');
            }
        });
    
        $('#password').on("input", function () {
            var pw = $('#password').val().length;
    
            if (pw < 8) {
                $('#passMsg').text("Input password atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');;
                $('#password').addClass('is-invalid').removeClass('is-valid');
            }
            else {
                $('#passMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
                $('#password').addClass('is-valid').removeClass('is-invalid');
            }
        });
    
    </script>
{% endblock %}
