{% extends "base.html" %}
{% load static %}
{% block title %}View Account{% endblock %}
{% block style %}
{% endblock %}
{% block content %}

{% csrf_token %}
<div class="mb-3">
    <h3>Change Account Password</h3>
</div>
<div id="alertMsg" class="">
</div>

<div class="mb-1">
    <label class="form-label">Old Password:</label>
    <input value="" id="oldpassword" type="password" class="form-control mb-4" placeholder="Enter Old Password">
    <div id="pwMsg">
</div>
<div class="mb-1">
    <label class="form-label">New Password:</label> <!-- PASSWORD -->
    <input value="" id="password" type="password" class="form-control mb-4" placeholder="Enter New Password">
    <div id="pwMsg">
</div>
<div class="mb-1">
    <label class="form-label">Confirm Password:</label>
    <input value="" id="cpassword" type="password" class="form-control mb-4" placeholder="Confirm New Password">
    <div id="pwMsg">
</div>

<div class="pb-5 col-12">
    <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
    <button id="btnSubmit" class="btn btn-dark float-end">Update</button>
</div>

{% endblock %}

{% block script %}
    <script>
        $('#btnSubmit').click(function () {
            console.log('test')

            p = $('#password').val();
            acc_type = $('#user_type').val();

            $.validate_check = function (feed, input, data) {
                txt = !data ? 'Required' : '';
                Ac = !data ? 'is-invalid' : 'is-valid';
                Rc = !data ? 'is-valid' : 'is-invalid';
                Af = !data ? 'invalid-feedback' : 'valid-feedback';
                Rf = !data ? 'valid-feedback' : 'invalid-feedback';
        
                $(feed).text(txt).addClass(Af).removeClass(Rf);
                $(input).addClass(Ac).removeClass(Rc);
            };

            // Check if there's an empty fields
            $.validate_check('#pwMsg', '#password', p);

            // return if found
            if (!p) {           
                return 0;
            }

            $.post("{% url 'Change Password Dropdown' %}", {
                password: p,
                acc_type: acc_type
            }, function (e) {
                if (e.code == 200) {
                    $('#alertMsg').text(e.message).addClass('alert alert-success').remove('alert-warning');
                }
                else {
                    $('#alertMsg').text(e.message).addClass('alert alert-warning').remove('alert-success');
                }
            }
            );
        });

        $('#btnBack').click(function () {
            window.location.href = "{% url 'Home' %}"
        });

        
    </script>
{% endblock %}
