
{% extends "base.html" %}
{% load static %}
{% block title %}Create Order{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">

<style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock %}
{% block content %}

    {% csrf_token %}
<div class ="mb-3">
    <h3> Create Invoice</h3>
</div>
<div id = "alertMsg" class="">
</div>

<div class="mb-3">
    <label class="form-label">Invoice Type</label>
    <select id="inv_type" class="form-select" aria-label="Default select example" style="width: 200px;">
        <option selected disabled>Select Type</option>
        {% for res in type %}
        <option value="{{res.inv_type_id}}">{{res.inv_name_type}}</option>
        {% endfor %}
    </select>
    <div id="itMsg"></div>
</div>



<div class="invoice-section" id="walkinSection" style="display:none;">
    
    
    <h4> Item </h4>

<div class="mb-3">
    <label class="form-label" for="product_name">Product Name</label>
    <input list="product_list" type='text' id="product_name" class="form-control" aria-label="Product Name" placeholder="Select a product">
    <datalist id="product_list">
        {% for item in inventory %}
        <option value="{{ item.prod.prod_name }}">
        {% endfor %}
    </datalist>

    <div id="prodMsg">
    </div>
</div>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <div class="mb-3">
            <div>
                <label class="form-label">Description:</label>
            </div>
            <span id="productDesc"></span>
            <div id="productDesc" style="display: none;">
                {% for res in inventory %}
                <span class="desc" data-desc="{{ res.prod_name }}">{{ res.prod_desc }}</span>
                {% endfor %}
            </div>
            <div id="descMsg"></div>
        </div>
    </div>

    <div style="display: flex; justify-content: center;">
        <div>
            <div class="mb-3">
                <div>
                    <label class="form-label">Quantity:</label>
                </div>
                <div>
                    <input id="qty" type="number" class="form-control" placeholder="Enter Quantity" style="width: 200px;">
                </div>
                <div id="qtyMsg"></div>
            </div>
        </div>

        <div>
            <div class="mb-3">
                <div>
                    <label class="form-label">Price:</label>
                </div>
                <div>
                    <span id="priceValuePlaceholder"></span>
                    <span id="productPrices" style="display: none;">
                        {% for res in inventory %}
                        <span class="price" data-price="{{ res.prod_name }}">{{ res.prod_price }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div id="priMsg"></div>
            </div>

            <div class="mb-3">
                <div>
                    <label class="form-label"></label>
                </div>
                <div id="amountLabelPlaceholder"></div>
                <div id="amtMsg"></div>
            </div>
        </div>

        
    </div>

    <div>
        <div class="mb-3" style="text-align: right;">
            <div>
                <label class="form-label">Available Stock:</label>
            </div>
            <div>
                <span id="availableStock"></span>
                <span id="productStock" style="display: none;">
                    {% for res in inventory %}
                    <span class="stock" data-stock="{{res.prod_name }}">{{res.in_qty }}</span>
                    {% endfor %}
                </span>
            </div>
            <div id="stockMsg"></div>
        </div>
    </div>
</div>


<br>

<div class="col-12">
    <div class="text-end">
        <button id="btnSubmitWalkin" class="btn btn-dark me-2">Add</button>
        
    </div>
</div>
   
</div>


<div class="invoice-section" id="projectSection" style="display:none;">
    
  

    <div class ="mb-3">
        <h3> Customer Details</h3>
    </div>
    <div id = "alertMsg" class="">
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div class="mb-3" style="width: 48%;">
            <label class="form-label">Customer Firstname</label>
            <input id="fname" type="text" class="form-control" placeholder="Enter Customer Firstname" style="width: 100%;">
            <div id="fnMsg"></div>
        </div>
        <div class="mb-3" style="width: 48%;">
            <label class="form-label">Customer Middlename</label>
            <input id="mname" type="text" class="form-control" placeholder="Enter Customer Middlename" style="width: 100%;">
            <div id="mnMsg"></div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div class="mb-3" style="width: 48%;">
            <label class="form-label">Customer Lastname</label>
            <input id="lname" type="text" class="form-control" placeholder="Enter Customer Lastname" style="width: 100%;">
            <div id="lnMsg"></div>
        </div>
        <div class="mb-3" style="width: 48%;">
            <label class="form-label">Customer Phone Number</label>
            <input id="phone" type="number" class="form-control" placeholder="Enter Phone Number" style="width: 100%;">
            <div id="phoneMsg"></div>
        </div>
    </div>
    
    
    <h4> Item </h4>

    <div class="mb-3">
        <label class="form-label" for="product_name">Product Name</label>
        <input list="product_list" type='text'id="product_name" class="form-control" aria-label="Product Name" placeholder="Select a product">
        <datalist id="product_list">
            {% for item in inventory %}
            <option value="{{ item.prod_name }}">
            {% endfor %}
        </datalist>
    
        <div id="prodMsg">
        </div>
    </div>
    
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <div class="mb-3">
                <div>
                    <label class="form-label">Description:</label>
                </div>
                <div id="productDesc" style="display: none;">
                    {% for description in inventory %}
                    <span class="desc" data-description="{{ description.prod_desc }}">{{ description.prod_price }}</span>
                    {% endfor %}
                </div>
                <div id="descMsg"></div>
            </div>
        </div>
    
        <div style="display: flex; justify-content: center;">
            <div>
                <div class="mb-3">
                    <div>
                        <label class="form-label">Quantity:</label>
                    </div>
                    <div>
                        <input id="qty" type="number" class="form-control" placeholder="Enter Quantity" style="width: 200px;">
                    </div>
                    <div id="qtyMsg"></div>
                </div>
            </div>
    
            <div>
                <div class="mb-3">
                    <div>
                        <label class="form-label">Price:</label>
                    </div>
                    <div>
                        <span id="priceValuePlaceholder"></span>
                        <span id="productPrices" style="display: none;">
                            {% for price in inventory %}
                            <span class="price" data-price="{{ price.prod_name }}">{{ price.prod_price }}</span>
                            {% endfor %}
                        </span>
                    </div>
                    <div id="priMsg"></div>
                </div>
            </div>
        </div>
    
        <div>
            <div class="mb-3" style="text-align: right;">
                <div>
                    <label class="form-label">Available Stock:</label>
                </div>
                <div>
                    <span id="availableStock"></span>
                    <span id="productStock" style="display: none;">
                        {% for stock in inventory %}
                        <span class="stock" data-stock="{{ stock.prod_name }}">{{ stock.in_qty }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div id="stockMsg"></div>
            </div>
        </div>
    </div>
    
    
    <br>



    <div class="col-12">
        <button id="btnSubmitProject" class="btn btn-dark float-end">Add</button>
        
    </div>
</div>

<br><br>

<div class ="mb-3">
</div>
<div id = "alertMsg" class="">
</div>
{% if user.acc_type_id != 3%}
    {% endif %}
    <div>
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for inventory in result %}
            <tr class="in-data">
                <td class="in-id">{{inventory.prod.prod_id}}</td>
                <td>{{inventory.prod.prod_name}}</td>
                <td>{{inventory.prod.prod_desc}}</td>
                <td>{{invoice.order.ord_qty}}</td>
                <td>{{inventory.prod.prod_price|floatformat:"2g"}}</td>
                <td>{{invoice.inv_amount}}</td>
                <td><a href="{% url 'Invoices' %}{{invoice.inv_id}}" class="btn btn-dark m-1">View</a>
                    {% if user.acc_type_id != 3 %}
                    <button class="btn btn-dark inv-delete">Remove</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}


{% block script %}  
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        new DataTable('#example');
    </script>

<script>
$(document).ready(function() {
    $('#inv_type').change(function() {
      var selectedOption = $(this).val();

      // Clear any previous messages or sections
      $('#itMsg').empty();
      $('.invoice-section').hide();

      if (selectedOption === '1') {
        // Show Walk-in type section 
        $('#walkinSection').show();
        
      } else if (selectedOption === '2') {
        // Show Project-based type section 
        $('#projectSection').show();
       
      } else {
        // Handle if no option is selected or invalid selection
        $('#itMsg').text('Please select a valid type.');
      }
    });
  });





$('#product_name').on('change', function() {
    var selectedProductName = $(this).val();

    //  call to fetch product details based on the selected product name
    $.post("{% url 'Product Details' %}", {
        selected_product: selectedProductName
    }, function(data) {
        // Process the received data and update the HTML elements with product details
        $('#productDesc').text(data.description);
        $('#priceValuePlaceholder').text(data.price);
        $('#availableStock').text(data.stock);
    });
});



$(document).ready(function () {
        // Function to calculate and update the amount based on quantity and price
        function updateAmount() {
            const quantity = parseFloat($('#qty').val());
            const price = parseFloat($('#priceValuePlaceholder').text());

            // Calculate the total amount
            const amount = quantity * price;

            // Display the calculated amount
            if (!isNaN(amount)) {
                $('#amountLabelPlaceholder').text(`Amount: ${amount.toFixed(2)}`);
            } else {
                $('#amountLabelPlaceholder').text();
            }
        }

        // Event listener for changes in quantity or price
        $('#qty').on('input', updateAmount);
        $('#priceValuePlaceholder').on('input', updateAmount);

        // Initially update the amount based on the default quantity and price
        updateAmount();
    });


$('#btnSubmitWalkin').click(function() {
     it = $('#inv_type').val();
     pn = $('#product_name').val(); // Get the selected product name
     pd = $('#productDesc').text(); // Get the description text
     p = $('#priceValuePlaceholder').text(); // Get the price text
     q = $('#qty').val();
     a = $('#amountLabelPlaceholder').text(); // Consider using text() for non-input elements
     s = $('#availableStock').text(); // Get the available stock
     
    
    $.validate_check = function (feed, input, data) {
                txt = !data ? 'Required' : '';
                Ac = !data ? 'is-invalid' : 'is-valid';
                Rc = !data ? 'is-valid' : 'is-invalid';
                Af = !data ? 'invalid-feedback' : 'valid-feedback';
                Rf = !data ? 'valid-feedback' : 'invalid-feedback';
        
                $(feed).text(txt).addClass(Af).removeClass(Rf);
                $(input).addClass(Ac).removeClass(Rc);
    };

    // Check if there are empty fields
    $.validate_check('#itMsg', '#inv_type', it);
    $.validate_check('#prodMsg', '#product_name', pn);
    $.validate_check('#descMsg', '#productDesc', pd);
    $.validate_check('#qtyMsg', '#qty', q);
    $.validate_check('#priMsg', '#productPrices', p);
    $.validate_check('#amtMsg', '#amountLabelPlaceholder', a);
    $.validate_check('#stockMsg', '#productStock', s);
   
    
    // Return if any field is empty
    if (!it || !pn || !pd || !p || !q || !a || !s ) {
        return 0;
    }
    

    // Submit the invoice via POST request
    $.post("{% url 'Submit Invoice' %}", {
        inv_type: it,
        product_name: pn,
        productDesc: pd,
        qty: q,
        productPrices: p,
        amountLabelPlaceholder: a,
        productStock: s
    }, function (e) {
        if (e.code == 200) {
            $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning');
        } else {
            $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success');
        }
    });
});


  


    $('#username').on('input', function () {
        var u = $('#username').val()
        if (u.length < 8) {
            $('#userMsg').text("Input username atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#username').addClass('is-invalid').removeClass('is-valid');
        } else {
            $.post("../check_username/", {
                username: u
            }, function (e) {
                if (e.found == true) {
                    $('#userMsg').text("Username is already taken!").addClass('invalid-feedback').removeClass('valid-feedback');
                    $('#username').addClass('is-invalid').removeClass('is-valid');
                } else {
                    $('#userMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                    $('#username').addClass('is-valid').removeClass('is-invalid');
                }
            })
        }
    });





    $('#cpassword').on("input", function () {
        var pw = $('#password').val();
        var cpw = $('#cpassword').val();

        if (pw != cpw) {
            $('#cpassMsg').text("Password not matched!").addClass('invalid-feedback').removeClass('valid-feedback');
            $('#cpassword').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#cpassMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#cpassword').addClass('is-valid').removeClass('is-invalid');
        }
    });

    $('#password').on("input", function () {
        var pw = $('#password').val().length;

        if (pw < 8) {
            $('#passMsg').text("Input password atleast 8 characters.").addClass('invalid-feedback').removeClass('valid-feedback');;
            $('#password').addClass('is-invalid').removeClass('is-valid');
        }
        else {
            $('#passMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
            $('#password').addClass('is-valid').removeClass('is-invalid');
        }
    });


</script>

{% endblock %}



