{% extends "base.html" %}
{% load static %}
{% block title %}Create Invoice{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
    <style>
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="mb-3">
        <h3>Create PO<h3>
    </div>
    <div class="mb-3">
        <h4>Supplier Information</h4>
    </div>
    <div class="mb-3">
        <label class="form-label">Select Supplier</label>
        <select id="sup-id" class="form-select w-25" aria-label="Default select example">
            <option selected disabled>Select supplier</option>
            {% for res in supplier %}
            <option value="{{res.sup_id}}">{{res.sup_name}}</option>
            {% endfor %}
        </select>
        <div id="typeMsg">
        </div>
        <div id="sup-info">
            <div class="row mb-3">
                <div class="col-8">
                    <label class="form-label">Name</label>
                    <div>
                        <strong><label id="sup_name"></label></strong>
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">Phone Number</label>
                    <div>
                        <strong><label id="sup_phone"></label></strong>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Address</label>
                <div>
                    <strong><label id="sup_address"></label></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <h4>Delivery Information</h4>
    </div>
    <div class="mb-3">
        <div class="form-check mb-3">
            <input id="checkbox" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
               Direct to client
            </label>
          </div>
        <div class="row">
            <div class="col-8">
                <label class="form-label">Name</label>
                <input disabled value="CEBU AM-FM ELECTRONICS CENTER" id="name" type="text" class="form-control" placeholder="Enter Name">
                <div id="nameMsg">
                </div>
            </div>
            <div class="col">
                <label class="form-label">Phone Number</label>
                <input disabled value="(032)2452120" id="phone" type="text" class="form-control" placeholder="Enter Phone Number">
                <div id="phoneMsg">
                </div>
            </div>
        </div>
        <div class="col">
            <label class="form-label">Address</label>
            <input disabled value="259 Manalili Street, Cebu City" id="addr" type="text" class="form-control" placeholder="Enter Address">
            <div id="addrMsg">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <h4>Item</h4>
    </div>
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input class="form-control" list="productList" id="product" placeholder="Type to search...">
        <datalist id="productList">
            {% for res in product %}
            <option value="{{res.prod_br.prod_br_name}} {{res.prod_desc}}" data-value="{{res.prod_id}}">{{res.prod_br.prod_br_name}} {{res.prod_desc}}</option>
            {% endfor %}
        </datalist>
        <div id="pMsg">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="form-label">Brand</label>
            <div>
                <label id="prod-br"></label>
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Description</label>
            <div>
                <label id="prod-desc"></label>
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Quantity</label>
            <input id="qty" type="number" class=" form-control" placeholder="Enter Quantity" max="0">
            <div id="qMsg">
            </div>
        </div>
        <div class="col-2">
            <label class="form-label">Unit Price</label>
            <input id="prod-price" type="number" class=" form-control" placeholder="Enter Unit Price" max="0">
            <div id="prMsg">
            </div>
        </div>
        <div class="mt-4 col-4">
            <button id="btnAdd" class="mb-3 btn btn-dark float-end">Add</button>
            <button id="btnUpdate" class="mb-3 btn btn-dark float-end">Update</button>
        </div>
    </div>
    
    <div class="mb-3">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Brand</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Product ID</th>
                    <th>Product Brand</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="mb-5 text-end">
        <label class="form-label">Total Amount</label>
        <div>
            <p>PHP <span id="total">0.00</span></p>
        </div>
    </div>
    <div class="p-3">
        <div class="text-end">
            <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#confirmationModal">Create</button>
        </div>
    </div>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="alertMsg" class="">
                </div>
                <label>Are you sure to create a Purchase Order?</label>
            </div>
            <div class="modal-footer">
              {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
              <button id="btnSubmit" type="button" class="btn btn-primary">Proceed</button>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        {% comment %} $('#example').dataTable({
            "dom": 'lrtip'
        }); {% endcomment %}
        const table = new DataTable('#example', {
            select: true
        });

        $("#cus-details").hide();

        var is_checked = false
        $('#checkbox').change(function() {
            if (!is_checked) {
                $('#name').val('').attr('disabled', false);
                $('#phone').val('').attr('disabled', false);
                $('#addr').val('').attr('disabled', false);
            }
            else {
                $('#name').val('CEBU AM-FM ELECTRONICS CENTER').attr('disabled', true).removeClass('is-valid').removeClass('is-invalid');
                $('#phone').val('(032)2452120').attr('disabled', true).removeClass('is-valid').removeClass('is-invalid');
                $('#addr').val('259 Manalili Street, Cebu City').attr('disabled', true).removeClass('is-valid').removeClass('is-invalid');
            }

            is_checked = (!is_checked)? true: false    
        });

        $.phone_validate = function () {
            var phone = $('#phone').val();
            var limit = 12; // default

            var output = false;
            // validate
            if ((phone.startsWith('09') || phone.startsWith('639')) && $.isNumeric(phone)) {
                // change limit if starts with 09
                if (phone.startsWith('09') && $.isNumeric(phone)) {
                    limit = 11;
                }
                
                // check limit
                if (limit == phone.length) {
                    $('#phoneMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                    $('#phone').addClass('is-valid').removeClass('is-invalid');
                    output = true;
                }
                else {
                    var message = 'It must be ' + limit + ' numbers.';
                    $('#phoneMsg').text(message).addClass('invalid-feedback').removeClass('valid-feedback');
                    $('#phone').addClass('is-invalid').removeClass('is-valid');
                }
            }
            else {
                $('#phoneMsg').text("Please enter a valid number.").addClass('invalid-feedback').removeClass('valid-feedback');
                $('#phone').addClass('is-invalid').removeClass('is-valid');
            }

            return output;
        }

        $('#phone').on('input', function () {
            $.phone_validate()
        });

        // Product

        $.switch_buttons = function (sw) {
            let s = sw;
            switch (s) {
                case "add":
                    $('#btnAdd').show();
                    $('#btnUpdate').hide();
                    break;
                case "update":
                    $('#btnAdd').hide();
                    $('#btnUpdate').show();
                    break;
                default:
                    $('#btnAdd').hide();
                    $('#btnUpdate').hide();
            }
        }

        $.switch_buttons('a');

        table.on('click', 'tbody tr', (e) => {
            let classList = e.currentTarget.classList;
         
            if (classList.contains('selected')) {
                classList.remove('selected');

                $('#qty').val('');
                $('#product').val('');
                $('#prod-br').text('');
                $('#prod-desc').text('');
                $('#prod-price').val('');
                $('#prod-qty').text('0');
                $.switch_buttons('');
            }
            else {
                table.rows('.selected').nodes().each((row) => row.classList.remove('selected'));
                classList.add('selected');
                $('#qty').val(table.rows('.selected').data()[0][3]);
                $('#product').val(table.rows('.selected').data()[0][1] + ' ' + table.rows('.selected').data()[0][2]);
                $.check_product();
            }
        });

        $.check_product = function () {
            var text = $('#product').val();
            var id = $('#productList [value="'+text+'"]').data('value');

            if (text != ''){
                $.post("{% url 'Check Product PO' %}", {
                    id: id
                }, function (e) {
                    if (e.code == 200) {
                        $('#prod-price').val(parseFloat(e.price).toFixed(2));
                        $('#prod-desc').text(e.desc);
                        $('#prod-br').text(e.brand);
                        
                        var btn = 'add';
                        for (var k = 0; k < table.rows().count(); k++) {
                            if (table.row(k).data()[0] == id && table.row(k).data()[1] == text) {
                                btn = 'update';
                                $('#prod-price').val(table.row(k).data()[4]);
                                break
                            }
                        }

                        $.switch_buttons(btn);
                    } else {
                        alert('Something went wrong!');
                    }
                })
            } else {
                $('#qty').val('');
                $('#product').val('');
                $('#prod-br').text('');
                $('#prod-price').val('');
                $('#prod-desc').text('');
                $('#prod-qty').text('0');
                $.switch_buttons('a');
            };  
        };

        $('#sup-info').hide();

        $.check_supplier = function () {
            var id = $('#sup-id').val();

            if (id != null){
                $.post("{% url 'Check Supplier' %}", {
                    id: id
                }, function (e) {
                    if (e.code == 200) {
                        $('#sup_name').text(e.name);
                        $('#sup_phone').text(e.phone);
                        $('#sup_address').text(e.address);
                        $('#sup-info').show();
                    } else {
                        alert('Something went wrong!');
                    }
                })
            } else {
                $('#sup-info').hide();
            };  
        };

        $.check_supplier();
        $.check_product();
        
        $('#product').change(function() {
            if ($(this).val().trim()) {
                $.check_product();
            }
        });

        $('#sup-id').change(function (){
            $.check_supplier();
        });

        $.validate_check = function (feed, input, data) {
            txt = !data ? 'Required' : '';
            Ac = !data ? 'is-invalid' : 'is-valid';
            Rc = !data ? 'is-valid' : 'is-invalid';
            Af = !data ? 'invalid-feedback' : 'valid-feedback';
            Rf = !data ? 'valid-feedback' : 'invalid-feedback';
    
            $(feed).text(txt).addClass(Af).removeClass(Rf);
            $(input).addClass(Ac).removeClass(Rc);
        };

        $('#btnAdd').click(function(){
            var qty = $('#qty').val();
            var name = $('#product').val();
            var br = $('#prod-br').text();
            var id = $('#productList [value="'+name+'"]').data('value');
            var desc = $('#prod-desc').text();
            var price = parseFloat($('#prod-price').val()).toFixed(2);

            $.validate_check('#pMsg', '#product', name);

            if (!$.isNumeric(qty)) {
                $('#qMsg').text('Field must be a number.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#qty').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else if (qty <= 0) {
                $('#qMsg').text('You need to input at least 1 quantity.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#qty').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else {
                $.validate_check('#qMsg', '#qty', qty);
            }

            if (!$.isNumeric(price)) {
                $('#prMsg').text('Field must be a number.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#prod-price').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else if (price <= 0) {
                $('#prMsg').text('Field must be non-zero.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#prod-price').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else {
                $.validate_check('#prMsg', '#prod-price', price);
            }

            // return if found
            if (!name || !qty || !price) {           
                return 0;
            }

            var amount = parseFloat(price * qty).toFixed(2);

            table.row.add([
                id, br, desc, qty, price, amount,
                '<button class="btn btn-dark prod-remove">Remove</button>'
            ]).draw();

            $.total_check();

            $('.prod-remove').click(function() {
                table.row($(this).parents('tr')).remove().draw();
                $.total_check();
            });

            $('#qty').val('');
            $('#product').val('');
            $('#prod-price').val('')
            $('#prod-desc').text('');
            $.switch_buttons('a');
        });

        $('#btnUpdate').click(function(){
            var qty = $('#qty').val();
            var name = $('#product').val();
            var br = $('#prod-br').text();
            var id = $('#productList [value="'+name+'"]').data('value');
            var desc = $('#prod-desc').text();
            var price = parseFloat($('#prod-price').val()).toFixed(2);

            $.validate_check('#pMsg', '#product', name);

            if (!$.isNumeric(qty)) {
                $('#qMsg').text('Field must be a number.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#qty').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else if (qty <= 0) {
                $('#qMsg').text('You need to input at least 1 quantity.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#qty').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else {
                $.validate_check('#qMsg', '#qty', qty);
            }

            if (!$.isNumeric(price)) {
                $('#prMsg').text('Field must be a number.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#prod-price').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else if (price <= 0) {
                $('#prMsg').text('Field must be non-zero.').addClass('invalid-feedback').removeClass('valid-feedback');
                $('#prod-price').addClass('is-invalid').removeClass('is-valid');
                return 0;
            }
            else {
                $.validate_check('#prMsg', '#prod-price', price);
            }

            // return if found
            if (!name || !qty || !price) {           
                return 0;
            }

            var amount = parseFloat(price * qty).toFixed(2);

            for (var l = 0; l < table.rows().count(); l++) {
                if (table.row(l).data()[0] == id && table.row(l).data()[1] == name) {
                    table.row(l).data([
                        id, br, desc, qty, price, amount,
                        '<button class="btn btn-dark prod-remove">Remove</button>'
                    ]).draw();
                    break;
                }
            }

            $.total_check();

            $('.prod-remove').click(function() {
                table.row($(this).parents('tr')).remove().draw();
                $.total_check();
            });

            $('#qty').val('');
            $('#product').val('');
            $('#prod-price').val('');
            $('#prod-desc').text('');
            $.switch_buttons('a');
        });

        $('#btnSubmit').click(function(){
            var count = table.rows().count();

            if (count == 0) {
                $('#alertMsg').text('Table is empty.').addClass('alert alert-warning').removeClass('alert-success').fadeIn(0).fadeOut(2000);
                return 0;
            }

            var id = $('#sup-id').val();
            var name = $('#name').val();
            var phone = $('#phone').val();
            var addr = $('#addr').val();

            $.validate_check('#typeMsg', '#sup-id', id);

            if (!id) {
                return 0;
            }

            if (is_checked) {
                $.validate_check('#nameMsg', '#name', name);
                $.validate_check('#addrMsg', '#addr', addr);
                is_phone = $.phone_validate();

                if (!name || !is_phone || !addr) {
                    return 0;
                }
            }

            res = []

            for (var j = 0; j < count; j++) {
                res.push({
                    id: table.rows().data()[j][0],
                    qty: table.rows().data()[j][3],
                    price: table.rows().data()[j][4]
                });
            }

            console.log(res);

            $.post("{% url 'Submit Order' %}", {
                data: JSON.stringify({
                    result: res
                }),
                sup_id: $('#sup-id').val(),
                name: (!$('#name').val()) ? '' : $('#name').val(),
                phone: (!$('#phone').val()) ? '' : $('#phone').val(),
                addr: (!$('#addr').val()) ? '' : $('#addr').val()
            }, function(e) {
                if (e.code == 200) {
                    $('#alertMsg').text(e.message + ' Redirecting in 3 seconds...').addClass('alert alert-success').removeClass('alert-warning').fadeIn(0);
                    $(function () {
                        setTimeout(function() {
                          window.location = "{% url 'Orders'%}" + e.id;
                        }, 3000);
                      });
                }
                else {
                    $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success').fadeIn(0).fadeOut(2000);
                }
            });
        });

        // total count
        $.total_check = function () {
            var total = 0;
            for (var i = 0; i < table.rows().count(); i++) {
                total += parseFloat(table.rows().data()[i][5]);
            }
            $('#total').text(parseFloat(total).toFixed(2));
        }

        $('#btnBack').click(function () {
            window.location.href = "{% url 'Orders' %}"
        });

    </script>
{% endblock %}