{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="card-title">{{ greet }}, {{ user.emp.emp_fname }}!</h1>

<div class="card mt-3 rounded-top rounded-2">
    <div class="card-body">
        <p class="card-text">ID: {{ user.acc_id }}</p>
        <p class="card-text">Last Login: {{ user.last_login }}</p>
        <p class="card-text">Created: {{ user.acc_created_at }}</p>
        <p class="card-text">Position Type: {{ type }}</p>
    </div>
</div>

{% endblock %}