{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/dataTables.min.css' %}">
{% endblock %}
{% block content %}
    <div class="mb-3">
        <h3>Products<h3>
    </div>
    <div id="alertMsg" class="">
    </div>
    {% if user.acc_type_id != 3%}
    <div class="mb-5">
        <a href="{% url 'Add Product' %}" class="btn btn-dark">Add Product</a>
    </div>
    {% endif %}
    <div>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Product ID</th>
                    {% comment %} <th>Name</th> {% endcomment %}
                    <th>Description</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Brand</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                {% for product in result %}
                <tr class="prod-data">
                    <td class="prod-id">{{product.prod_id}}</td>
                    {% comment %} <td>{{product.prod_name}}</td> {% endcomment %}
                    <td>{{product.prod_desc}}</td>
                    <td>{{product.prod_price|floatformat:"2g"}}</td>
                    <td class="prod-status">{{product.prod_status}}</td>
                    <td>{{product.prod_type.prod_type_name}}</td>
                    <td>{{product.prod_br.prod_br_name}}</td>
                    <td><a href="{% url 'Products' %}{{product.prod_id}}" class="btn btn-dark m-1">View</a>
                        {% if product.prod_status == 'Active' and user.acc_type_id != 3 %}
                        <button href="{% url 'Products' %}{{product.prod_id}}" class="btn btn-dark prod-delete">Delete</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Product ID</th>
                    {% comment %} <th>Name</th> {% endcomment %}
                    <th>Description</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Brand</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
        new DataTable('#example');
    </script>
    <script>
        $('.prod-delete').each(function () {
            $(this).click(function () {
                id = $(this).closest('.prod-data').find('.prod-id').text();
                
                $.post("{% url 'Delete Product' %}", {
                    id: id
                }, function(e) {
                    if (e.code == 200) {
                        $('#alertMsg').text(e.message).addClass('alert alert-success').removeClass('alert-warning');
                    } else {
                        $('#alertMsg').text(e.message).addClass('alert alert-warning').removeClass('alert-success');
                    }
                })
            })
        });
    </script>
{% endblock %}