{% extends "base.html" %}
{% load static %}
{% block title %}View Account{% endblock %}
{% block style %}
{% endblock %}
{% block content %}

{% csrf_token %}
<div class="mb-3">
    <h3>View Account</h3>
</div>
<div id="alertMsg" class="">
</div>
<div class="mb-1">
    <label class="form-label">Account ID:</label>
    <label id="user_id">{{userdata.acc_id}}</label>
</div>
<div class="mb-1">
    <label class="form-label">Account Position Type:</label>
    {% comment %} <b><label id="user_type">{{userdata.acc_type_id}}</label></b> {% endcomment %}
    <select id="user_type" class="form-select" aria-label="Default select example">
        <option disabled>Select Type</option>
        {% for res in type %}
        <option {% if res.acc_type_id == userdata.acc_type_id %}selected{% endif %} value="{{res.acc_type_id}}">{{res.acc_type_name}}</option>
        {% endfor %}
    </select>

</div>
<div class="mb-1">
    <label class="form-label">Account Created:</label>
    <label id="user_created">{{userdata.acc_created_at}}</label>   
</div>
<div class="mb-1">
    <label class="form-label">Last Login:</label>
    <label id="user_lastlogin">{{userdata.last_login}}</label>  
</div>
<div class="mb-1">
    <label class="form-label">Account Userame:</label>
    <b><label id="user_name">{{userdata.username}}</label></b>
    <input value="{{userdata.username}}" id="username" type="text" class="form-control mb-4" placeholder="Update Account Username">
    <div id="auMsg">
</div>
{% comment %} <div class="mb-1">
    <label class="form-label">Password:</label> <!-- PASSWORD -->
    <input value="" id="password" type="password" class="form-control mb-4" placeholder="Password">
    <div id="pwMsg">
</div> {% endcomment %}
<div class="mb-3">
    <h3>Account Information</h3>
</div>
<div class="mb-3">
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">First Name</label>
            {% comment %} <label id="user_fname">{{userdata.emp.emp_fname}}</label>   {% endcomment %}
            <input value="{{userdata.emp.emp_fname}}" id="fname" type="text" class="form-control mb-4" placeholder="Update Account First Name">
            <div id="fMsg">
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Middle Name</label>
            <input value="{{user.emp.emp_mname}}" id="mname" type="text" class="form-control" placeholder="Enter Middle Name (Optional)">
            <div id="mnMsg">
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Last Name</label>
            {% comment %} <label id="user_lname">{{userdata.emp.emp_lname}}</label> {% endcomment %}
            <input value="{{userdata.emp.emp_lname}}" id="lname" type="text" class="form-control mb-4" placeholder="Update Account Last Name">
            <div id="lMsg">
            </div>  
        </div>
    </div>
</div>
<div class="mb-3">
    <div class="row">
        <div class="col">
            <label class="form-label">Phone Number</label>
            <input id="phone" type="number" class="form-control" placeholder="Enter Phone Number" value="{{user.emp.emp_phone}}">
            <div id="phoneMsg">
            </div>
        </div>
        <div class="col">
            <label class="form-label">Email Address (Recovery Account)</label>
            <input id="email" type="text" class="form-control" placeholder="Enter Email Address" value="{{user.emp.emp_email}}">
            <div id="emailMsg">
            </div>
        </div>
        <div class="col">
            <label class="form-label">Birthdate</label>
            <input id="birthdate" type="date" class="form-control" placeholder="mm/dd/yy" value="{{user.emp.emp_birthdate.year}}-{% if user.emp.emp_birthdate.month < 10 %}0{% endif %}{{user.emp.emp_birthdate.month}}-{% if user.emp.emp_birthdate.day < 10 %}0{% endif %}{{user.emp.emp_birthdate.day}}">
            <div id="bdMsg">
            </div>
        </div>
    </div>
</div>

<div class="mb-5 col-12">
    <button id="btnBack" class="btn btn-dark me-2">Go Back</button>
    <button id="btnSubmit" class="btn btn-dark float-end">Update</button>
</div>

{% endblock %}

{% block script %}
    <script>
        $.phone_validate = function () {
            var phone = $('#phone').val();
            var limit = 12; // default
    
            var output = false;
            // validate
            if ((phone.startsWith('09') || phone.startsWith('639')) && $.isNumeric(phone)) {
                // change limit if starts with 09
                if (phone.startsWith('09') && $.isNumeric(phone)) {
                    limit = 11;
                }
                
                // check limit
                if (limit == phone.length) {
                    $('#phoneMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                    $('#phone').addClass('is-valid').removeClass('is-invalid');
                    output = true;
                }
                else {
                    var message = 'It must be ' + limit + ' numbers.';
                    $('#phoneMsg').text(message).addClass('invalid-feedback').removeClass('valid-feedback');
                    $('#phone').addClass('is-invalid').removeClass('is-valid');
                }
            }
            else {
                $('#phoneMsg').text("Please enter a valid number.").addClass('invalid-feedback').removeClass('valid-feedback');
                $('#phone').addClass('is-invalid').removeClass('is-valid');
            }
    
            return output;
        }
    
        $('#phone').on('input', function () {
            $.phone_validate();
        });
    
        $.email_validate = function () {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var is_valid = regex.test($('#email').val());
    
            if (!is_valid) {
                $('#emailMsg').text("Please enter a valid email.").addClass('invalid-feedback').removeClass('valid-feedback');
                $('#email').addClass('is-invalid').removeClass('is-valid');
            } else {
                $('#emailMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');;
                $('#email').addClass('is-valid').removeClass('is-invalid');
            }
    
            return is_valid;
        }
    
        $('#email').on('input', function() {
            var is_valid = $.email_validate();
    
            if (is_valid) {
                $.post("{% url 'Check Email' %}", {
                    email: $(this).val().trim()
                }, function (e) {
                    if (e.found == true) {
                        $('#emailMsg').text("Email is already taken!").addClass('invalid-feedback').removeClass('valid-feedback');
                        $('#email').addClass('is-invalid').removeClass('is-valid');
                    } else {
                        $('#emailMsg').text("").addClass('valid-feedback').removeClass('invalid-feedback');
                        $('#email').addClass('is-valid').removeClass('is-invalid');
                    }
                })
            } 
        });
        
        $('#btnSubmit').click(function () {
            id = $('#user_id').text();
            u = $('#username').val();
            acc_type = $('#user_type').val();
            fn = $('#fname').val();
            mn = $('#mname').val();
            ln = $('#lname').val();
            p = $('#phone').val();
            e = $('#email').val();
            bd = $('#birthdate').val();

            $.validate_check = function (feed, input, data) {
                txt = !data ? 'Required' : '';
                Ac = !data ? 'is-invalid' : 'is-valid';
                Rc = !data ? 'is-valid' : 'is-invalid';
                Af = !data ? 'invalid-feedback' : 'valid-feedback';
                Rf = !data ? 'valid-feedback' : 'invalid-feedback';
        
                $(feed).text(txt).addClass(Af).removeClass(Rf);
                $(input).addClass(Ac).removeClass(Rc);
            };

            // Check if there's an empty fields
            $.validate_check('#fnMsg', '#fname', fn);
            $.validate_check('#lnMsg', '#lname', ln);
            var ph = $.phone_validate();
            var em = $.email_validate();
            $.validate_check('#bdMsg', '#birthdate', bd);

            if (!u || !fn || !ln || !ph || !em || !bd) {
                $('#alertMsg').text('Please input required fields').addClass('alert alert-warning').removeClass('alert-success').fadeIn(0).fadeOut(2000);
                return 0;
            }

            $.post("{% url 'Update Account' %}", {
                id: id,
                fn: fn,
                mn: mn,
                ln: ln,
                phone: p,
                email: e,
                birthdate: bd,
                u: u,
                acc_type: acc_type
            }, function (e) {
                if (e.code == 200) {
                    $('#alertMsg').text(e.message).addClass('alert alert-success').remove('alert-warning');
                }
                else {
                    $('#alertMsg').text(e.message).addClass('alert alert-warning').remove('alert-success');
                }
            }
            );
        });

        $('#btnBack').click(function () {
            window.location.href = "{% url 'Account Management' %}"
        });

        
    </script>
{% endblock %}
