{% load static %}
<html data-bs-theme="light">
    <head>
        <title>Cebu AM/FM Eletronics Inventory System | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        {% block head_content %}{% endblock %}
        {% if user.is_authenticated %}
        <style>
          .text-small {
            font-size: 85%;
          }
          
          .dropdown-toggle:not(:focus) {
            outline: 0;
          }
        </style>
        {% block style %}{% endblock %}
        {% endif %}
    </head>
    <body>
        {% if user.is_authenticated %}
        {% include "components/header.html" with user=user %}
        {% endif %}
        <div class="container">
        {% block content %}{% endblock %}
        </div>
        {% comment %} {% include "components/footer.html" %} {% endcomment %}
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script>
          $('#btnSwitch_toggle').click(function(){
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
              document.documentElement.setAttribute('data-bs-theme','light')
            }
            else {
              document.documentElement.setAttribute('data-bs-theme','dark')
            }
          });
        </script>
        {% block script %}{% endblock %}
          
    
    </body>
</html>
